.contacts {
  padding: 25px 10px;
  flex: 0.33;
}

.contacts__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: medium;
  color: grey;
}

.contacts__friend {
 display: flex;
 align-items: center;
 padding: 10px;
}

.contacts__friend > h4 {
  margin-left: 10px; 
}


@media (max-width: 1305px) {
  .contacts {
    display: none;
  }
}







